/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;  
    margin-bottom: 10px;
    border: solid 3px violet;
    background-color: black;
  }

h2{
  color:aliceblue
}

#content{
  background-color: blue;
  border: dotted;

}

span{
  font-style: italic;
}

p{
  font-family: 'Times New Roman', Times, serif;
  color:aliceblue

}

h1#title1{
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;


}
